* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 1em;
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 62.5em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.card {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0.625em;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.card h3, .card p {
    margin: 0.5em 0;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card p {
    font-size: 0.875em;
    color: #666;
}

.arrow {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    padding: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 50%;
    font-size: 1.2em;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

#left-arrow {
    left: 1em;
}

#right-arrow {
    right: 1em;
}

.arrow:hover {
    box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.7);
}

.arrow.left::before {
    content: '<';
}

.arrow.right::before {
    content: '>';
}

@media (max-width: 25.75em) {
    .arrow {
        padding: 6px;
    }
}

@media (max-width: 50.625em) {
    .arrow {
        padding: 7px;
    }
}
